
*{
    box-sizing:border-box;
}


.banner{
    display: flex;
    background-image: url(./images/bannerPhoto.jpg);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Patrick{
    color: aliceblue;
    padding: 40px;
    justify-content: space-between;
    font-family: 'Copperplate', 'Papyrus', 'Fantasy';
    
}


.links{
    list-style-type: none;
    display: flex;
    text-align: flex-end;
    color: white;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Copperplate', 'Papyrus', 'Fantasy';
    font-weight: bold;
}

li{
    padding: 20px;
}

a{
    color: aliceblue;
    text-decoration: none;
}

main{
    display: flex;
    background-color: dimgrey;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

section{
    flex-direction: row;
    width: 100%;
    margin-left: 10%
}

p{
    color: rgb(49, 27, 27);
    font-size: 18px;
    font-weight: bold;
    flex-wrap: wrap;
}

aside{
    display: block;
    flex-wrap: wrap;
    float: left;
    height: 100%;
    border-right: solid;
    color: rgb(49, 27, 27);
    margin: 25;
    width: 25%;
    margin-right: 20px;
}

h2{
    padding: 20px;
    text-align: center;
    justify-content: space-between;
    height: 50%;
    color: rgb(49, 27, 27);
    font-size: 40px;
}

.section1{
    width: 100%;
    padding: 10px;
    justify-content: flex-end;
    flex-wrap: wrap; 
}

h3{
    text-align: center;
    justify-content: space-between;
    height: 100%;
    color: rgb(49, 27, 27);
    font-size: 40px;
}

.section2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

button{
    border-radius: 5%;
    padding: 5px;
    transition-duration: 0.4s;
    font-size: 18px;
}

button:hover {
    background-color: gray;
}
.project1{
    display: flex;
    flex-wrap: wrap;
    height: 90%;
}

.project2, .project5{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

h4{
    text-align: center;
    color: white;
    font-size: 24px;
    padding: 80px;
    border-right: solid;
}

footer{
    background-image: url(./images/footer.jpg);
    display: flex;
    justify-content: center;
    position:absolute;
    width: 100%;
}

.digits{
    list-style-type: none;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    float: center;
    margin-top: 80px;
    align-content: flex-end;
}

@media screen and (max-width: 1019px) {
    aside {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    nav,
    ul,
    .project1,
    .project2,
    .project5,
    .footer {
      flex-direction: column;
    }

    aside {

    }
    header {
      background: #772014;
    }
    nav,
    footer {
      background-color: #bb8588;
    }
}